Auto-Follow-up.json
{
  "name": "Auto Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5bab66fa-fa5c-47b2-98b2-7a4bc8928be0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1rjUfCsGILTIujE27Z8S12sHL6wu4jFrBrdVYCeGfrhU",
          "mode": "list",
          "cachedResultName": " Mama's Kitchen Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rjUfCsGILTIujE27Z8S12sHL6wu4jFrBrdVYCeGfrhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 487311449,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rjUfCsGILTIujE27Z8S12sHL6wu4jFrBrdVYCeGfrhU/edit#gid=487311449"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e3a7e83c-adb4-4432-ad85-9f53d9ab28d8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "hPMQIdwnCEUgv51Q",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Not Followed Up').item.json['Chat ID'] }}",
        "text": "=Hey {{ $('Not Followed Up').item.json['Name'] }} 👋\n\nWe noticed you stopped by Mama's Kitchen earlier but didn't get to place an order.\n\nWe're still open and ready to take care of you. Here are a few favourites:\n- Jollof Rice + Chicken — N2,500\n- Pepper Soup (Goat meat) — N3,500\n- Pounded Yam + Egusi — N3,000\n\nJust reply here and we'll sort you out right away\n\n— Amara, Mama's Kitchen",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        -160
      ],
      "id": "d57f2e2e-4ecb-4727-85bf-c75df95323e1",
      "name": "Send a text message",
      "webhookId": "bee4f197-5061-425c-ba37-fc1e4f854653",
      "credentials": {
        "telegramApi": {
          "id": "0foBKCeMyh9ZAhPI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b960ab95-3001-40fe-9018-304591982add",
              "leftValue": "={{ $json.FollowedUp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ad5fde84-e177-4d94-b8d2-6aed6ede13be",
              "leftValue": "={{ $json['Chat ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        0
      ],
      "id": "ad76785b-3931-402b-939f-85113d715148",
      "name": "Not Followed Up"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rjUfCsGILTIujE27Z8S12sHL6wu4jFrBrdVYCeGfrhU",
          "mode": "list",
          "cachedResultName": " Mama's Kitchen Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rjUfCsGILTIujE27Z8S12sHL6wu4jFrBrdVYCeGfrhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 487311449,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rjUfCsGILTIujE27Z8S12sHL6wu4jFrBrdVYCeGfrhU/edit#gid=487311449"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FollowedUp": "Yes",
            "Chat ID": "={{ $('Get row(s) in sheet').item.json['Chat ID'] }}"
          },
          "matchingColumns": [
            "Chat ID"
          ],
          "schema": [
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Message",
              "displayName": "Last Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FollowedUp",
              "displayName": "FollowedUp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -112
      ],
      "id": "8e52b3b7-058c-4607-bc13-dd727bdbd611",
      "name": "Mark as Followed Up",
      "credentials": {
        "googleApi": {
          "id": "CmkK5NCffyFJ48Eb",
          "name": "Google Sheets account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Not Followed Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Followed Up": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Mark as Followed Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "37313ab8-dc40-492d-9823-b812024bccfc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2184a9761503ca5db7bf5020fbe517ed27ac032f139724d3a69ac85a873cc024"
  },
  "id": "zRGOSIiEed7kgv5A",
  "tags": []
}